!.hex
!.elf
build/**
Onethinx_Creator.cydsn/codegentemp/**
Onethinx_Creator.cydsn/CortexM0p/**
Onethinx_Creator.cydsn/CortexM3/**
Onethinx_Creator.cydsn/CortexM4/**
.vscode/brd.cfg
.DS_Store
clean.sh
